<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ordenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<!--
    <ion-list>
        <ion-item button [routerLink]="['/todo', todo.id]" *ngFor="let todos of (todos | async)">
          {{ todo.name }}
        </ion-item>
      </ion-list>

      -->
  <ion-list>
      <ion-item-sliding *ngFor="let item of todos">
          <ion-item >
            <ion-label>
              <h1>{{ item.category }}</h1>
              <p>Nombre: {{item.name}}</p>
              <p>Dirección: {{ item.location}}</p>
              <p>Teléfono: {{item.telephone}}</p>
              <p>Tamaño y precio: {{item.size}}</p>
              <p>Cantidad de pizza: {{item.quantity}}</p>
              <p>Bebida: {{item.drink}}</p>
              <p>Cantidad de bebida: {{item.drink_quantity}}</p>

              <p>Su pedido llega en 30 minutos</p>
              <p>Sin cobro adicional de envío</p>
              <ion-button expand="block" fill="outline" color="danger" (click)="deleteOrder(item)">
                  <ion-icon name="trash" slot="start"></ion-icon>
                  ANULAR PEDIDO
                </ion-button>
            </ion-label>
           
          </ion-item>
   <!--  
          <ion-item-options side="end">
            <ion-item-option (click)="remove(item)" color="secondary">
              Anular
              <ion-icon name="trash" slot="start"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          -->
        </ion-item-sliding>
      </ion-list>    
      
     
     
    
</ion-content>
