<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Iniciar sesion con</p>

    <ion-button *ngIf="logged_In==false" (click)="doFbLogin()" expand="block" color="primary" size="default" type="button" shape="round">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button *ngIf="logged_In==true" (click)="signOut()" expand="block" color="primary" size="default" type="button" shape="round">
      Cerrar Sesion
    </ion-button>
</ion-content>
