<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Combo</ion-card-subtitle>
      <ion-card-title>Pepperonni</ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-card-header>
       <ion-card-subtitle>Combo</ion-card-subtitle>
       <ion-card-title>Hawaianna</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Combo</ion-card-subtitle>
      <ion-card-title>Americana</ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Combo</ion-card-subtitle>
      <ion-card-title>Bangarang</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3gyKWYnRJZp6qwUQSxUAVzfXqBKc7OXns6sMg9V9P-Rpw9HsC"></ion-img>
    </ion-card-content>

  </ion-card>

</ion-content>
