<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card (click)="cardClicked()" id="{{americana}}">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>All the meats</ion-card-title>
      <img src="../../assets/img/allthemeats.jpg"/> 
    </ion-card-header>
  </ion-card>


  <ion-card (click)="cardClicked()">
    <ion-card-header>
       <ion-card-subtitle></ion-card-subtitle>
       <ion-card-title>Hawaiana</ion-card-title>
       <img src="../../assets/img/hawaiana.jpg"/> 
      </ion-card-header>
  </ion-card>

  <ion-card (click)="cardClicked()">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Americana</ion-card-title>
      <img src="../../assets/img/americana.jpg"/> 
    </ion-card-header>
  </ion-card>


  <ion-card (click)="cardClicked()">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>EcoPizza</ion-card-title>
      <img src="../../assets/img/ecopizza.jpg"/> 
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>

  </ion-card>

</ion-content>
