.colortitulo{
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .cardHome{
    border-radius:20px;
    box-shadow: 1px 8px 11px rgba(131, 131, 131, 0.25), 0 8px 8px rgba(124, 124, 124, 0.22);
  }

  .toolbarColor{
    color: rgb(0, 0, 0);

  }

  .s{
    height: 15rem;
    width: 100%;

  }