<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="profileClicked()">
              <ion-icon name="person"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="cardHome">
        
         

        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title class="colortitulo">BIENVENIDOS A ECOPIZZA</ion-card-title>

        </ion-card-header>

        <ion-card-content>
            <img src="../../assets/img/ecopizza.png"/> 
            <ion-button color="success" shape="round" expand="full">ORDENA ONLINE AQUÍ</ion-button>

        </ion-card-content>
      </ion-card>
      <img class="s" src="../../assets/img/promo1.jpg"/> 

      <img src="../../assets/img/PIZZA.JPG"/> 

      <img src="../../assets/img/promo2.png"/> 

</ion-content>


